body {
  background-color: #E0F2F1;
  background: radial-gradient(circle closest-side at 50% 50%, white, #D3F2F1);
  margin: 0;
  padding-top: 13vh;
}

h2 {
    text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc;
    font-size: 10vh;
}
p {
  font-size: 2.5vh;
}
#pic1 {
    margin-top: 2%;
    padding-left: 1%;
}
#searchbox2 {
  height: 3vh;
  width: 10vw;
}

#Summary {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;


}

.bios{
    display: flex;
    justify-content: space-between;
    text-shadow: none;
}

.people {
  background-color: #4DB6AC;
  width: 32%;
  padding: 10px;
  margin: 1%;
  text-align: center;
  border-radius: 25px;
  text-shadow: none;

}
