form {
  font-family: 'Raleway';
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;

}
body {
  background-color: #E0F2F1;
  background: radial-gradient(circle closest-side at 50% 50%, white, #D3F2F1);
  margin: 0;
  padding-top: 10vh;
}
