#header {
    background-color:#00BFA5;
    color:white;
    text-align:left;
    margin: 0;
    padding: .5%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#logo {
  color: white;
  text-decoration: none;
  font-size: 2.3em;
  text-shadow:  1px 1px 0px #ccc, 3px 3px 8px black;
}

#footer {
    position: fixed;
    bottom: 0;
    font-family: 'Raleway';
    color:white;
    padding:.7%;
    margin: -.4%;
    text-align:center;
    width: 100%;
    background-color:#00BFA5;
}
