#header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: #00BFA5;
}

#logo-text {
  position: fixed;
  left: 0;
  color: white;
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 7vh;
  text-shadow:  0.25vh 0.25vh 0vh #ccc, 0.75vh 0.75vh 1.5vh black;
}

#logo-text:hover {
  opacity: 0.75;
}

#search {
  position: fixed;
  right: 0;
  top: 0;
  height: 10vh;
  margin: 0;
}

#searchbox {
  color: teal;
  height: inherit;
  font-size: 2vw;
  width: 20vw;
  box-sizing: border-box;
  border: 2vh;
}


#submit-button {
  height: inherit;
  width: 10vw;
  border: 0;
  padding: 0;
}

#logo-pic {
  top: 1vh;
  height: 8vh;
  position: fixed;
  left: 40vh;
  text-shadow:  1px 1px 0px #ccc, 3px 3px 8px black;
}

#pic1 {
    margin-top: 1.5%;
    height: 6%;
}


#footer {
    position: fixed;
    bottom: 0;
    font-family: 'Raleway';
    color:white;
    padding:.7%;
    margin: -.4%;
    text-align:center;
    width: 100%;
    background-color:#00BFA5;
}
