#header {
    background-color:#00BFA5;
    color:white;
    text-align:left;
    margin: 0;
    padding: .5%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#logo {
  color: white;
  text-decoration: none;
  font-size: 2em;
  text-shadow:  1px 1px 0px #ccc, 3px 3px 8px black;
  padding-bottom: 2%;
  padding-left: .5%;
  padding-right: 1%;
  padding-top: 1.5%;
}
#search {
  margin: 0%;
  margin-top: 4%;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: space-around;
  align-items: flex-start;
}
#pic1 {
    margin-top: 1.5%;
    height: 6%;
}

#footer {
    position: fixed;
    bottom: 0;
    font-family: 'Raleway';
    color:white;
    padding:.7%;
    margin: -.4%;
    text-align:center;
    width: 100%;
    background-color:#00BFA5;
}
