body {
<<<<<<< HEAD  
  padding-top: 12vh;
  overflow: scroll;
=======
  padding-top: 13vh;
  margin: 0;
>>>>>>> 12027d1099b1d6167e1562990d8b4348cb88889f
}

#header-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  padding-top: 2vh;
  padding-bottom: .5vh;
  background: #00BFA5;
  overflow: scroll;
}

#logo-text {
  left: 0;
  margin-left: 2.5vh;
  color: white;
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 6vh;
  text-shadow:  0.25vh 0.25vh 0vh #ccc, 0.75vh 0.75vh 1.5vh black;
}

#logo-text:hover {
  font-weight: bold;
}

#logo-pic {
  position: fixed;
  margin-left: 1vw;
  top: 2.5vh;
  height: 6.5vh;
  overflow: scroll;
}
#mglass {
  margin-top: -.5vh;
  height:5.5vh;
  overflow: hidden;
}

#search {
  margin-top: 2vh;
  margin-right: 1vw;
  right: 0;
  top: 0;
  float: right;
  width: 25vw;
  opacity: 0.80;
  overflow: hidden;
}

#search:hover {
  opacity: 1;
}

#searchbox {
  color: teal;
  background-color: white;
  font-size: 2.2vh;
  height: 5vh;
  width: 20vw;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
}

#footer {
    text-decoration: none;
    position: fixed;
    bottom: 0vh;
    font-family: 'Raleway';
    color:white;
    font-size: 2.5vh;
    padding:.5%;
    margin: -.4%;
    text-align:center;
    width: 100%;
    background-color:#00BFA5;
    overflow: hidden;
}
#about {
  text-decoration: none;
  color: white;
}
