body {
  padding-top: 13vh;
}
#header-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
  background: #00BFA5;
}

#logo-text {
  left: 0;
  margin-left: 2.5vh;
  color: white;
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 7vh;
  text-shadow:  0.25vh 0.25vh 0vh #ccc, 0.75vh 0.75vh 1.5vh black;
}

#logo-text:hover {
  font-weight: bold;
}

#logo-pic {
  position: absolute;
  margin-left: 1vw;
  top: 2vh;
  height: 8vh;

}

#search {
  margin-top: 1.5vh;
  margin-right: 1vw;
  right: 0;
  top: 0;
  float: right;
  width: 25vw;
  opacity: 0.75;
}

#search:hover {
  opacity: 1;
}

#searchbox {
  color: teal;
  background-color: white;
  font-size: 3vh;
  height: 7vh;
  width: 20vw;
  border: 0;
  box-sizing: border-box;
  float: left;
}

#submit-button {
  background-color: #E0F2F1;
  height: 7vh;
  font-size: 3vh;
  width: 5vw;
  border: 0;
  float: left;
  padding: 0;
}


#footer {
    position: absolute;
    bottom: 0vh;
    font-family: 'Raleway';
    color:white;
    font-size: 2.5vh;
    padding:.5%;
    margin: -.4%;
    text-align:center;
    width: 100%;
    background-color:#00BFA5;
}
