.groupfeed {
  overflow: scroll;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0vh;
  margin-top: 0vh;
  margin-bottom: 4vh;
}
.section {

  overflow: scroll;
  display: flex;
  background-color: #BEEDE7;
  height: 100%;
  width: auto;
}
#groupname {
margin-left: 1vw;
margin-right: 1vw;
text-align: left;
text-shadow: .12vh 0vh .12vh #ccc, 0vh .12vh .12vh #eee,
.25vh .12vh .12vh #ccc;
font-size: 3vh;
}
#columnforsidebar {
  word-wrap: break-word;
  overflow: scroll;
  height: 100%;
  width: auto;
  flex-direction: column;
  text-align: center;
  padding: 1vw;
  margin-bottom: 4vh;
}

.allpics {
  overflow: scroll;
  display: flex;
  background: radial-gradient(circle closest-side at 50% 50%, white, #D3F2F1);
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  padding-left: 30%;

}

#singlepic {
  background-color: white;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  flex: 1;

}
