
.groupfeed {
  display: flex;
  align-self: auto;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Raleway';
  background-color: #BEEDE7;
  width: auto;
  backface-visibility: hidden;
  will-change: overflow;

}

#leftsidebar {
  flex-direction: column;
  text-align: center;
  padding: 1vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
  width: 20%;
  height: 100%;

}

#rightsidebar {
  overflow-x: auto;
  overflow: scroll;
  float: right;
  display: flex;
  background: radial-gradient(circle closest-side at 50% 50%, white, #D3F2F1);
  flex-direction: column;
  align-self: stretch;
  width:100%;

}
#allpics {
  padding-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4vh;
}
#edit {
  float: right;
  top:0;
  height: 4.5vh;
  margin-top: -5.7vh;
  margin-right: 5vh;
}
#delete {
  float: right;
  height: 5vh;
  margin-top: -6vh;
}
#bottomtext {
  float: right;
}
figure {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  flex: 1;
  padding: 2vh;
  margin-bottom: 2vh;
  padding-bottom: 6vh;
}
input[type=submit]{
  font-size: 2vh;
}
#name {
  float:left;
  font-size: 2.5vh;
  margin-bottom: 2vh;
  font-weight: bolder;
}
#takenby {
  margin-top: 2vh;
}
figcaption {
  font-size: 2vh;
}
#singlepic {
  height: 50%;
}
#groupname {
margin-left: 1vw;
margin-right: 1vw;
text-align: left;
text-shadow: .12vh 0vh .12vh #ccc, 0vh .12vh .12vh #eee,
.25vh .12vh .12vh #ccc;
font-size: 2vmax;
}
