
.groupfeed {
  overflow: scroll;
  display: flex;
  align-self: auto;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Raleway';
  background-color: #BEEDE7;
  width: auto;
  backface-visibility: hidden;
  will-change: overflow;
}

#leftsidebar {
  overflow: scroll;
  flex-direction: column;
  text-align: center;
  padding: 1vw;
  margin-bottom: 4vh;
  width: 20%;
  height: 100%;
}

#rightsidebar {
  overflow-x: auto;
  overflow: scroll;
  float: right;
  display: flex;
  background: radial-gradient(circle closest-side at 50% 50%, white, #D3F2F1);
  flex-direction: column;
  align-self: stretch;
  width:100%;

}
#allpics {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4vh;
}
#singlepic {
  background-color: white;
  height: 300px;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  flex: 1;
  padding: 2vh;
  padding-bottom: 3vh;
}

#groupname {
margin-left: 1vw;
margin-right: 1vw;
text-align: left;
text-shadow: .12vh 0vh .12vh #ccc, 0vh .12vh .12vh #eee,
.25vh .12vh .12vh #ccc;
font-size: 3vh;
}
