/* holy grail is the body */
.HolyGrail {
  background-color: #E0F2F1;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow: scroll;
}
.newsfeed {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  margin: 0px;
}

#welcomeSidebar {
  display: flex;
  background-color: #A9E8E0;
  height: 100%;
  width: auto;


}
#welcometext {
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
  2px 1px 1px #ccc;
}
#section {
  display: flex;
  background-color: #E0F2F1;
  flex-direction: column;
  align-self: stretch;
  /*border-radius: 5%;
  border: 2px solid black; */

}
#newsfeedtitle {
  margin-left: 3%;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
  2px 1px 1px #ccc;
}

/*.HolyGrail {
  display: flex;

  flex-direction: column;
  align-content: space-around;
}*/

/*.newsfeed-body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  flex: 1;
  padding: 0;
  margin: 0;
}


.content {
  text-align: center;
  flex: 1;
  background-color: #B2DFDB;
}

.nav, .aside {
  text-align: center;
  flex: 0 0 12em;
}

.nav {
  order: -1;
  background-color: #E0F2F1;
  /*background-image: url("http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture24_1200.jpg");*/






#feed{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  flex: 1;
  margin: 1%;
}

.feed div {
  margin: 10px;
  padding: 10px;
  background-color: #E0F2F1;
  border-radius: 25px;

}

#header {
    background-color:#00BFA5;
    color:white;
    text-align:left;
    margin: 0;
    padding: .5%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc;
    font-size: 2.3em;
}

#pic1 {
    margin-top: 2%;
    padding-left: 1%;
}

#search {
  margin-left: 50%;
  margin-top: 3%;
}

/*.content {
  text-align: center;
  flex: 1;
  background-color: #B2DFDB;
}

.nav, .aside {
  text-align: center;
  flex: 0 0 12em;
}

.nav {
  order: -1;
  background-color: #E0F2F1;

}

.aside{
    background-color: #00BFA5;
}*/

.footer {
    position: fixed;
    bottom: 0;
    font-family: 'Raleway';
    color:white;
    padding:.7%;
    margin: -.4%;
    text-align:center;
    width: 100%;
    background-color:#00BFA5;
}
