/* holy grail is the body */
body {
  overflow-x: hidden;
  overflow: scroll;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  padding-top: 10vh;
}
.newsfeed {
  overflow-x: scroll;
  overflow: hidden;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0vmax;
  width:100%;

}

.welcomeSidebar {
  overflow: scroll;
  display: flex;
  background-color: #BEEDE7;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;

}

#columnforsidebar {
  overflow: scroll;
  flex-direction: column;
  text-align: center;
  padding: 1vw;
  width: 20%;
  margin-bottom: 10vh;
}

#welcometext {
  text-align: center;
  text-shadow: .25vh 0vh .25vh #ccc, 0vh .25vh .25vh #eee,
  .5vh .25vh .25vh #ccc;
  font-size: 3vh;
  word-wrap: break-word;
}
.info {
  float: right;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 2vw;
  padding-bottom: 1vh;
  font-size: 1.5vmax;
}
h2 {
  padding-top: 2vh;
}
#section {
  overflow-x: auto;
  overflow: scroll;
  display: flex;
  background: radial-gradient(circle closest-side at 50% 50%, white, #D3F2F1);
  flex-direction: column;
  align-self: stretch;
  width:100%;
  height: 100%;
  margin-bottom: 5vh;
}

#newsfeedtitle {
  margin-left: 3%;
  margin-bottom: 6vh;
  font-size: 4vh;
  text-shadow: .25vh 0vh .25vh #ccc, 0vh .25vh .25vh #eee,
  .5vh .25vh .25vh #ccc;
}
.feed {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;

}
.newsfeed-groups {
  display: flex;
  background-color: white;
  margin: 2vh;
  justify-content: space-between;
  flex: 1;
  height: 60vh;
}


.photogroup-pic {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-end;
  align-items: flex-start;
  height: inherit;
  object-fit: cover;
  margin: 3vh;
  padding-right: .5vw;
  padding-left: .5vw;
}

.photogroup-name {
  font-size: 3.5vh;
  font-weight: bold;
}

.photogroup-creator {
  font-size: 1.5vh;
  font-weight: lighter;
}

span {
  padding: .3vh;
  font-size: 2vh;
}

input[type=submit] {
    word-wrap: break-word;
    font-size: 1.5vh;
    font-size: 1vw;

}
#noimages {
  font-size: 3vh;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 2vw;
  padding-right: 1.5vw;
}
.groups{
  box-sizing: border-box;
  background-color: white;
  margin: .2vw;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  padding: .2vw;
}
.group_name {
  vertical-align: middle;
  font-size: 2.5vh;
  padding-bottom: .7vh;
}

#create-group-btn  {
  font-size: 2.5vh;
  width: 100%;
  height: 5vh;
  border: 0;
  background-color: white;
  margin-bottom: 2vh;
}

.text-area {
  font-size: 2.5vh;
  width: 100%;
  height: 5vh;
  border: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#viewstuff {
  color: #00BFA5;
  text-decoration: none;
  font-size: 2vh;
}
/*.content {
  text-align: center;
  flex: 1;
  background-color: #B2DFDB;
}

.nav, .aside {
  text-align: center;
  flex: 0 0 12em;
}

.nav {
  order: -1;
  background-color: #E0F2F1;

}

.aside{
    background-color: #00BFA5;
}*/
