.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-content: space-around;
  margin: 0px;
}

.newsfeed-body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  flex: 1;
  padding: 0;
  margin: 0;
}

.content {
  text-align: center;
  flex: 1;
  background-color: #B2DFDB;
}

.nav, .aside {
  text-align: center;
  flex: 0 0 12em;
}

.nav {
  order: -1;
  background-color: #E0F2F1;
  /*background-image: url("http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture24_1200.jpg");*/


}

.aside{
  background-color: #E0F2F1;
  /*background-image: url("http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture24_1200.jpg");*/

}


/*now the newsfeed flexboxes*/



.feed{
  text-align: center;


  /*flexbox stuff*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  flex: 1;

  padding: 50px;
  margin: 50px;
}

.feed div {
  margin: 10px;
  padding: 10px;
  background-color: #E0F2F1;
  border-radius: 25px;

}


#header {
    background-color:#00BFA5;
    color:white;
    text-align:left;
    margin: -1%;
    padding: 1.2%;
    font-family: 'Raleway', sans-serif;
    display: flex;
}

  #search {
    padding: 2.5%;
    margin-left: 50%;
  }

.newsfeed {
}

#trail {
  float:right;
}
