/* holy grail is the body */
.HolyGrail {
  background-color: #E0F2F1;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow: scroll;
}
.newsfeed {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  margin: 0px;
}

#welcomeSidebar {
  display: flex;
  background-color: #AAE3DC;
  height: 100%;
  width: auto;
}

#columnforsidebar {
  flex-direction: column;
  text-align: center;
}

#welcometext {
  text-align: center;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
  2px 1px 1px #ccc;
}

#section {
  display: flex;
  background-color: #E0F2F1;
  flex-direction: column;
  align-self: stretch;
  /*border-radius: 5%;
  border: 2px solid black; */

}
#newsfeedtitle {
  margin-left: 3%;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
  2px 1px 1px #ccc;
}

.feed{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  flex: 1;
  margin-left: 4%;
  margin-right: 4%;
}

p {
  text-align: right;
  background-color: white;
  border-radius: 25px;
  padding: 2%;
}
.test {}

h1 {
    text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc;
    font-size: 2.3em;
}

#pic1 {
    margin-top: 2%;
    padding-left: 1%;
}

#search {
  margin-left: 67%;
  margin-top: -3.5%;
  float: right;
}

/*.content {
  text-align: center;
  flex: 1;
  background-color: #B2DFDB;
}

.nav, .aside {
  text-align: center;
  flex: 0 0 12em;
}

.nav {
  order: -1;
  background-color: #E0F2F1;

}

.aside{
    background-color: #00BFA5;
}*/
