/* holy grail is the body */
body {
  overflow: scroll;
  background-color: #E0F2F1;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  padding-top: 10vh;
}
.newsfeed {
  overflow: scroll;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0vmax;
}

.welcomeSidebar {
  overflow: scroll;
  display: flex;
  background-color: #BEEDE7;
  height: 100%;
  width: auto;
}

#columnforsidebar {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1vw;

}

#welcometext {
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: left;
  text-shadow: .25vh 0vh .25vh #ccc, 0vh .25vh .25vh #eee,
  .5vh .25vh .25vh #ccc;
  font-size: 3vh;
  word-wrap: break-word;
}

#section {
  overflow: scroll;
  display: flex;
  background: radial-gradient(circle closest-side at 50% 50%, white, #D3F2F1);
  flex-direction: column;
  align-self: stretch;
}

#newsfeedtitle {
  margin-left: 3%;
  text-shadow: .25vh 0vh .25vh #ccc, 0vh .25vh .25vh #eee,
  .5vh .25vh .25vh #ccc;
}

.feed{
  overflow: scroll;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  flex: 1;
  margin-left: 4%;
  margin-right: 4%;
}

p {
  display: flex;
  flex-direction: row;
  font-family: 'Merriweather';
  text-align: right;
  background-color: white;
  border-radius: 20vh;
  padding-left: 4%;
  padding-right: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-end;
  align-items: center;
}

.test {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-end;
  align-items: center;
  width: 10%;
}

.groups{

  box-sizing: border-box;
  background-color: white;
  margin: .1vw;
  padding: .2vw;
}

/*.content {
  text-align: center;
  flex: 1;
  background-color: #B2DFDB;
}

.nav, .aside {
  text-align: center;
  flex: 0 0 12em;
}

.nav {
  order: -1;
  background-color: #E0F2F1;

}

.aside{
    background-color: #00BFA5;
}*/
