/* holy grail is the body */
.HolyGrail {
  background-color: #E0F2F1;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow: scroll;
}
.newsfeed {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  margin: 0px;
}

.welcomeSidebar {
  display: flex;
  background-color: #BEEDE7;
  height: 100%;
  width: auto;
}

#columnforsidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#welcometext {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
  2px 1px 1px #ccc;
  word-wrap: break-word;
}

#section {
  display: flex;
  background: radial-gradient(circle closest-side at 50% 50%, white, #D3F2F1);
  flex-direction: column;
  align-self: stretch;
  /*border-radius: 5%;
  border: 2px solid black; */

}
#newsfeedtitle {
  margin-left: 3%;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
  2px 1px 1px #ccc;
}

.feed{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  flex: 1;
  margin-left: 4%;
  margin-right: 4%;
}

p {
  display: flex;
  flex-direction: row;
  font-family: 'Merriweather';
  text-align: right;
  background-color: white;
  border-radius: 25px;
  padding-left: 4%;
  padding-right: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-end;
  align-items: center;
}
button {
  margin-left: 20%;
  margin-right: 20%;
}
.test {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-end;
  align-items: center;
  width: 10%;
}
