/* holy grail is the body */
body {
  overflow-x: hidden;
  overflow: scroll;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  padding-top: 10vh;
}

.newsfeed {
  overflow-x: scroll;
  overflow: hidden;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0vmax;
  width:100%;

}

.welcomeSidebar {
  overflow: scroll;
  display: flex;
  background-color: #BEEDE7;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;

}

#columnforsidebar {
  overflow: scroll;
  flex-direction: column;
  text-align: center;
  padding: 1vw;
  width: 20vw;
  margin-bottom: 10vh;
}

#welcometext {
  text-align: center;
  text-shadow: .25vh 0vh .25vh #ccc, 0vh .25vh .25vh #eee,
  .5vh .25vh .25vh #ccc;
  font-size: 3vh;
  word-wrap: break-word;
}

h2 {
  padding-top: 2vh;
}
#section {
  overflow-x: auto;
  overflow: scroll;
  display: flex;
  background: radial-gradient(circle closest-side at 50% 50%, white, #D3F2F1);
  flex-direction: column;
  align-self: stretch;
  width: 80vw;
  height: 100%;
  margin-bottom: 5vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

#newsfeedtitle {
  margin-left: 3%;
  margin-bottom: 6vh;
  font-size: 4vh;
  text-shadow: .25vh 0vh .25vh #ccc, 0vh .25vh .25vh #eee,
  .5vh .25vh .25vh #ccc;
}

/*NEWSFEED START*/

      .feed {
        width: 75vw;
      }

      .newsfeed-groups {
        width: 75vw;
        height: 50vh;
        background-color: white;
        float: right;
        margin-bottom: 4vh;
      }

      .image-area {
        padding-right: 2vw;
        padding-left: 1vw;
        height: 50vh;
        max-width: 30vw;
        float: left;
        font-size: 10vh;
      }

      .photogroup-pic {
        max-height: 50vh;
        max-width: 30vw;
        vertical-align: middle;
        text-align: center;
        padding-top: 2vh;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
      }

      .no-images {
        vertical-align: middle;
        background-color: #004D40;
        color: white;
        text-align: center;
      }

      .info {
        width: 40vw;
        height: 50vh;
        float:left;
        text-align: center;
      }

      .photogroup-name {
        padding-top: 7vh;
        font-size: 8vh;
        min-height: 9vh;
        max-height: 9vh;
        padding-bottom: 2vh;
        font-weight: bold;
      }

      .photogroup-description {
        font-size: 2.5vh;
        padding-top: 2vh;
        width: auto;
        height: 20vh;
      }

      .photogroup-creator {
        font-size: 1.5vh;
        font-weight: lighter;
      }

      .photogroup-view {
        color: #00BFA5;
        text-decoration: none;
        font-size: 2vh;
        float: right;
      }


/*NEWSFEED END*/
#viewstuff {
  color: #00BFA5;
  text-decoration: none;
  font-size: 2vh;
}

span {
  padding: .3vh;
  font-size: 2vh;
}

input[type=submit] {
    word-wrap: break-word;
    font-size: 1.5vh;
    font-size: 1vw;

}
#noimages {
  font-size: 3vh;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 2vw;
  padding-right: 1.5vw;
}
.groups{
  box-sizing: border-box;
  background-color: white;
  margin: .2vw;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  padding: .2vw;
}
.group_name {
  vertical-align: middle;
  font-size: 2.5vh;
  padding-bottom: .7vh;
}

#create-group-btn  {
  font-size: 2.5vh;
  width: 100%;
  height: 5vh;
  border: 0;
  background-color: white;
  margin-bottom: 2vh;
}

#create-group-form {
  margin: 0;
}

.text-area {
  font-size: 2.5vh;
  width: 15vw;
  height: 5vh;
  border: 0;
  border-radius: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#group-name-description {
  height: 10vh;
  max-width: 15vw;
  max-height: 20vh;
}

#text-area-submit {
  margin-bottom: 0;
}

option {
  border: 0;
}

/*.content {
  text-align: center;
  flex: 1;
  background-color: #B2DFDB;
}

.nav, .aside {
  text-align: center;
  flex: 0 0 12em;
}

.nav {
  order: -1;
  background-color: #E0F2F1;

}

.aside{
    background-color: #00BFA5;
}*/
