/* holy grail is the body */
.HolyGrail {
  background-color: #E0F2F1;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.newsfeed {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-content: space-around;
<<<<<<< HEAD
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
=======
  margin: 0px;
>>>>>>> f9f7a90d0bfd20b1b387459af2bbb4b21f3d27e8
}

#welcomeSidebar {
  display: flex;
  background-color: #E0F2F1;
  height: 100%;
  width: auto;
}

#section {
  display: flex;
  background-color: #D3F2F1;
  align-self: stretch;
}
/*.HolyGrail {
  display: flex;

  flex-direction: column;
  align-content: space-around;
}*/

/*.newsfeed-body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  flex: 1;
  padding: 0;
  margin: 0;
}
<<<<<<< HEAD

.content {
  text-align: center;
  flex: 1;
  background-color: #B2DFDB;
}

.nav, .aside {
  text-align: center;
  flex: 0 0 12em;
}

.nav {
  order: -1;
  background-color: #E0F2F1;
  /*background-image: url("http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture24_1200.jpg");*/


}

.aside{
  background-color: #E0F2F1;
  /*background-image: url("http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture24_1200.jpg");*/

<<<<<<< HEAD
}*/
=======
}


/*now the newsfeed flexboxes*/



.feed{
  text-align: center;


  /*flexbox stuff*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  flex: 1;

  padding: 50px;
  margin: 50px;
}

.feed div {
  margin: 10px;
  padding: 10px;
  background-color: #E0F2F1;
  border-radius: 25px;

}


=======
>>>>>>> 0d562418b8b521c9128e76d01ee94611eb56402a
>>>>>>> f9f7a90d0bfd20b1b387459af2bbb4b21f3d27e8
#header {
    background-color:#00BFA5;
    color:white;
    text-align:left;
    margin: 0;
    padding: .5%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc;
    font-size: 2.3em;
}

#pic1 {
    margin-top: 2%;
    padding-left: 1%;
}

#search {
  margin-left: 50%;
  margin-top: 3%;
}

/*.content {
  text-align: center;
  flex: 1;
  background-color: #B2DFDB;
}

.nav, .aside {
  text-align: center;
  flex: 0 0 12em;
}

.nav {
  order: -1;
  background-color: #E0F2F1;

}

.aside{
    background-color: #00BFA5;
}*/

.footer {
    position: fixed;
    bottom: 0;
    font-family: 'Raleway';
    color:white;
    padding:.7%;
    margin: -.4%;
    text-align:center;
    width: 100%;
    background-color:#00BFA5;
}
