body {
  background-color: #E0F2F1;
  background: radial-gradient(circle, white, #D3F2F1);
  margin: 0;
  font-family: 'Raleway';
}

section {
  text-align: center;
  max-height: 10vh;
}
h4 {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 0vh;

}
