body {
  background-color: #E0F2F1;
  background: radial-gradient(circle, white, #D3F2F1);
  margin: 0;
}

h2 {
    text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc;
    font-size: 4em;
}

#welcomestuff {
    font-family: 'Raleway';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
