#header {
    background-color:black;
    color:white;
    text-align:left;
    margin: -1%;
    padding: 1.2%;
    font-family: 'Raleway';
    display: flex;
}
#search {
  padding: 2.5%;
  margin-left: 50%;

}
#welcomestuff {
    font-family: 'Raleway';
}

#footer {
    font-family: 'Raleway';
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    position: absolute;
    bottom: 0%;
    padding:5px;

}
