<!doctype html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href="../stylesheets/about.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'
  type="text/css">

</head>

<body>
  <header id="Summary">
    <h1>About Photo Dump</h1>
    <h2>
      <p>You get invited to a major event. It was awesome! There were so many
       people and the entertainment was extraordinary. Everyone was trying
       to capture the moment. iPhones were out, professional photographers
       were capturing the scene, and you had caught many beautiful moments
       yourself… But you didn’t catch all of it. Unfortunately for you, in
       order to get the photos everyone else took, you have to remember who
       went, who took pictures, and find each of their individual profile pages
       to find those noteworthy photos.
     </p>
     <p>
       But not any more!
     </p>
     <p>
       With PhotoDump, everyone shares all of their photos onto a group page.
       One location, one place for all of the captured memories from that
       awesome day.
     </p>

   </h2>
  </header>
  <div class="bios">
    <article id="Stephanie">
      <h1>Stephanie</h1>
      <h2>
        <p>
          I'm Stephanie and I'm from Sonoma, CA (40 miles north of SF). I'm blind
          as a bat, short as oompa loompa, and awkward as Tobey Maguire in
          SpiderMan 3 (oh and I also tend to exaggerate). But anyways, I love food
          and people, especially those who bring me food. I love helping others
          (sounds cliché but still very true) so I'm very active in my community.
          I also love taking photos of other people, so I hope you guys are okay
          with being my models for the 3 weeks in CSSI ;)  I'll post every photo I
          take to my flickr account!
        </p>
        <!-- <p>
          I'll be attending Occidental College in Los Angeles and most likely
          majoring in Math and minoring in Comp Sci to be a part of their 3/2
          engineering program with Columbia.
        </p>
        <p>
          To be frank, I still cannot believe I'm going to Seattle this summer to
          be a part of this program, I'm sincerely super duper excited to meet
          each and everyone of you guys! :) ﻿
        </p> -->
    </h2>
    </article>
    <article id="Eleanor">
      <h1>Eleanor</h1>
      <h2>
        <p>
          Hi! So, I am Eleanor... or Elle. Either name works fine. I am from
          Phoenix, AZ and am so excited to attend CSSI if not only to escape the
          heat. I am really passionate about the performing arts as I attended a
          performing arts high school with a focus of dance (that is why my avatar
          is dancing for you) and I also used to act, play piano and french horn,
          and sing on the side. However, in the fall, I will be attending Cal Poly
          - SLO and majoring in Electrical Engineering.
          <!-- I have weaknesses for
          Netflix, superheroes, books, and creme brulee. There are probably other
          things about me that you might want to know, but I will let you find
          those things out in July!﻿ -->
        </p>
    </h2>
    </article>
    <article id="Kiet">
      <h1>Kiet</h1>
      <h2>
        <p>
          Hi. My name is Kiet (pronounced Kit), I live here in Seattle, and I will
          be attending University of Washington (Seattle) with hopes of majoring
          in Computer Science. I like staying at home, manga, anime, Japanese
          anime music, Reddit, Top Gear (UK), and I've recently taken a liking to
          playing Sudoku when I'm waiting for the bus at bus stops.
        </p>
        <!-- <p>
          I'm a huge technology geek and to show that I've taken pride to my work
          space which has been updated year after year. I have 5 monitors in my
          room. 1 for surveillance outside my house, 3 for my computer, and one
          more for digital camera monitoring when filming videos. I have so many
          electrical outlets being used in my room that I'm afraid that someday
          my room will catch on fire.
        </p>
        <p>
          I've touched upon many things including video editing, photo editing,
          photography, designing, electrical, and programming.
        </p>
        <p>
          I'm an introvert and I never really "hang out" with people whenever I'm
          not in school so this will be an entirely new experience for me. I don't
          really know what to expect since this is so much outside my comfort zone
          but I hope I will learn a lot about myself from this.﻿
        </p> -->
    </h2>
    </article>
  </div>

</body>
</html>
