<!doctype html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href="../stylesheets/about.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'
  type="text/css">

</head>

<body>
  <header id="Summary">
    <h1>About Photo Dump</h1>
    <h4 id = "description">
      <p id = "desc">You get invited to a major event. It was awesome! There were so many
       people and the entertainment was extraordinary. Everyone was trying
       to capture the moment. iPhones were out, professional photographers
       were capturing the scene, and you had caught many beautiful moments
       yourself… But you didn’t catch all of it. Unfortunately for you, in
       order to get the photos everyone else took, you have to remember who
       went, who took pictures, and find each of their individual profile pages
       to find those noteworthy photos.
     </p>
     <p id = "desc">
       But not any more!
     </p>
     <p id = "desc">
       With PhotoDump, everyone shares all of their photos onto a group page.
       One location, one place for all of the captured memories from that
       awesome day.
     </p>

   </h4>

   <h2>About Our Developers</h2>
  </header>
  <div class="bios">
    <article class="people">
      <h3><em>Stephanie</em></h3>
      <img class="profilepic" src="../resources/images/steph_seattle.jpg"
      width="50%">
      <h4>
        <p>
          Hey! I'm Stephanie, and I'm a Bay Area native. I love food
          and people, especially those who bring me food. I also love helping others
          and partake in many volunteering activites such as cooking for cancer
          patients and traveling to third world countries to help improve
          educational opportunities for all. A big passion of mine is photography
          because I love capturing every perfect moment, so take a look at my
          flickr!
        </p>
        <p>
          I'll be attending Occidental College located in SoCal where I will be
          majoring in Math and minoring in Comp Sci. I plan to be a part of their
          3/2 Engineering Program with Columbia University.
        </p>
    </h4>
    </article>
    <article class="people">
      <h3><em>Eleanor</em></h3>
      <img class="profilepic" src="https://lh4.googleusercontent.com/-Iurj0a8SJgA/VZcuBGNCTgI/AAAAAAAAAHg/nEyzN-Ig66M/s599-no/11054801_10207010805814429_6741107505033328285_n.jpg"
      width="50%">
      <h4>
        <p>
          Hi! So, I am Eleanor... or Elle. Either name works fine. I am from
          Phoenix, AZ and am so excited to attend CSSI if not only to escape the
          heat. I am really passionate about the performing arts as I attended a
          performing arts high school with a focus of dance (that is why my avatar
          is dancing for you) and I also used to act, play piano and french horn,
          and sing on the side. However, in the fall, I will be attending Cal Poly
          - SLO and majoring in Electrical Engineering.
          I have weaknesses for
          Netflix, superheroes, books, and creme brulee. There are probably other
          things about me that you might want to know, but I will let you find
          those things out in July!﻿
        </p>
    </h4>
    </article>
    <article class="people">
      <h3><em>Kiet</em></h3>
      <img class="profilepic" src="https://lh5.googleusercontent.com/-owYNypcjoOo/VL7ncMocwhI/AAAAAAAA0QA/v6VW-9L5dTA/w716-h715-no/IMG_9803.jpg"
      width="50%">
      <h4>
        <p>
          Hi. My name is Kiet (pronounced Kit), I live here in Seattle, and I will
          be attending University of Washington (Seattle) with hopes of majoring
          in Computer Science. I like staying at home, manga, anime, Japanese
          anime music, Reddit, Top Gear (UK), and I've recently taken a liking to
          playing Sudoku when I'm waiting for the bus at bus stops.
        </p>
        <p>
          I'm a huge technology geek and to show that I've taken pride to my work
          space which has been updated year after year. I have 5 monitors in my
          room. 1 for surveillance outside my house, 3 for my computer, and one
          more for digital camera monitoring when filming videos. I have so many
          electrical outlets being used in my room that I'm afraid that someday
          my room will catch on fire.
        </p>

    </h4>
    </article>
  </div>

</body>
</html>
