<!DOCTYPE html>
<html>

  <head>
    <title> PhotoDump </title>
    <link rel = "stylesheet" type = "text/css" href="../stylesheets/creategroup.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'
     type='text/css'>
  </head>

  <body>

      <form method="POST" action="/create_group">
        Group Name: <input type="text" name="group_name">
        <br/>
        <select name="type">
          <option value="public"> Public </option>
          <option value="private"> Private </option>
        </select>
        <input type="submit" value="submit">
      </form>

  </body>

</html>
