<!doctype html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href="../stylesheets/welcome.css">
  <link rel = "stylesheet" type = "text/css" href="/stylesheets/delete.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'
   type='text/css'>
   <title>PhotoDump</title>
</head>


<body>
  <h1> Do You Want do delete this Group?</h1>

  <div class='answer'>

    <form class='buttons' action="/actualdelete" method ="POST">
      <input type="hidden" name="group_id" value="{{delete_group.key.id()}}">
      <button type="submit">Yes</button>
    </form>

    <form class='buttons' action="/newsfeed">
      <button type="submit">No</button>
    </form>

  </div>

</body>
</html>
