<!DOCTYPE html>
<html>

<head>
    <title> PhotoDump </title>
    <!-- <link rel = "stylesheet" type = "text/css" href="../stylesheets/welcome.css"> -->
    <link rel = "stylesheet" type = "text/css" href="/stylesheets/edit.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="../lib/jquery.js"></script>
</head>

<body>
  <form action='/upload/finish' method='POST'>
    <input type='hidden' name='current_group_id' value='{{current_group_id}}'>
    <section id='photo-edit-container'>
    {% for photo in current_upload_photos%}
      <div class='single-photo'>
        <div><input id = "enter" type="text" value='Enter your name (optional)'
           name='name-{{photo.blob_key}}'></div>
          <img class='photo-pic' src="{{photo.url}}">
        <div><input id = "enter" type="text" value="Enter a caption (optional)"
          name='caption-{{photo.blob_key}}'></div>
      </div>
    {% endfor %}
      <input id = "clicksubmit" type="submit" value='Submit!'>
    </section>
  </form>
</body>

</html>
