<link rel = "stylesheet" type = "text/css" href ="/stylesheets/fixed.css">


<div id="header-container">
  <a id="logo-text" href="/newsfeed"> PhotoDump </a>
  <img id="logo-pic" src="../images/camera_preview.png"/>

  <form id = "search" action="/search">
    <!-- <div id="search-text"> Search PhotoDump </div> -->
    <input id = "searchbox" type="text" name="searchBox" value="Search PhotoDump">
    <button id = "submit-button" type="submit"> Find Group </button>
  </form>
</div>

<div id="footer">
  About PhotoDump
</div>
