<!DOCTYPE html>
<html>

<head>
    <title> PhotoDump </title>
    <link rel = "stylesheet" type = "text/css" href="../stylesheets/welcome.css">
    <link rel = "stylesheet" type = "text/css" href="/stylesheets/group.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'
     type='text/css'>
     <script src="lib/jquery.js"></script>
</head>

<body>
    <div class = "groupfeed">

      <div id = "leftsidebar">

        <h1 id = "groupname"> Group name: {{group.group_name}} </h1>
          <form action="/upload" method="POST">
            <input type="hidden" name="group_id" value="{{group.key.id()}}">
            <input type="submit" value="Upload photos!"></input>
          </form>
          <!-- Elle's Changes -->
          <form action="/delete">
            <input type="hidden" name="group_id" value="{{group.key.id()}}">
            <button type="submit">Delete Group</button>
          </form>
          <!-- Elle's Changes -->
      </div>

      <div id = "rightsidebar">
        <div id = "allpics">
          {% for photo in group.photos %}
            <figure>

              <figcaption> Name: {{photo.name}} </figcaption>
              <img id = "singlepic" src="{{photo.url}}">
              <figcaption> Taken by: {{photo.uploaded_by}} </figcaption>
              <figcaption> {{photo.caption}}</figcaption>
              <figcaption> uploaded: {{photo.date_created}} </figcaption>
            </figure>
          {% endfor %}
        </div>
      </div>
    </div>

</body>

</html>
