<!DOCTYPE html>
<html>

<head>
    <title> PhotoDump </title>
    <link rel = "stylesheet" type = "text/css" href="../stylesheets/welcome.css">
    <link rel = "stylesheet" type = "text/css" href="../stylesheets/group.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'
     type='text/css'>
     <script src="../lib/jquery.js"></script>
</head>

<body>
    <div class = "groupfeed">

      <div id = "leftsidebar">

        <h1 id = "groupname"> Group name: {{group.group_name}} </h1>
          <form action="/upload" method="POST">
            <input type="hidden" name="group_id" value="{{group.key.id()}}">
            <input type="submit" value="Upload photos!"></input>
          </form>

      </div>

      <div id = "rightsidebar">
        <div id = "allpics">
          {% for photo in group.photos %}
            <figure>
              <figcaption id = "name"> Name: {{photo.name}} </figcaption>
              <div><a href=" " title="Edit this photo"><img id = "edit"
              src = "../resources/images/edit.png"></a>
                <a href=" " title="Delete this photo"><img id = "delete"
                src = "../resources/images/delete.png"></a><div>
              <img id = "singlepic" src="{{photo.url}}">
              <div><br><figcaption id = "bottomtext">
                Uploaded by: {{photo.uploaded_by}} </figcaption>
              <br><figcaption id = "bottomtext"> {{photo.caption}}
              </figcaption>
              <br><figcaption id = "bottomtext">
                Date Uploaded: {{photo.date_created}} </figcaption></div>
            </figure>
          {% endfor %}
        </div>
      </div>
    </div>

</body>

</html>
