<!doctype html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href="../stylesheets/groupfeed.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'
     type='text/css'>
  </head>


  <body>
    <!-- The text for the heading "PhotoDump" and search form -->
      <form action="/create_group">
        <input type="submit" value="add group">
      </form>

      {% for group in photo_group_data %}
        <div class="groups">
          <div class="group_name"> {{group.group_name}} </div>
          <a href="/groupfeed/view?group_id={{group.key.id()}}"> View group </a>
        </div>
      {% endfor %}

  </body>


</html>
