<!doctype html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href="../stylesheets/groupfeed.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>


  <body>
    <!-- The text for the heading "PhotoDump" and search form -->
      <header id="header">
        <h1>PhotoDump</h1>
          <nav id = "search">
            <form>
              Search PhotoDump
              <input id = "searchbox" type="text" name="searchBox">
            </form>
          </nav>
      </header>

      <form action="/create_group">
        <input type="submit" value="add group">
      </form>

  </body>


</html>
