<!doctype html>
<html>

<head>
  <link rel = "stylesheet" type = "text/css" href ="../stylesheets/newsfeed.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <script src="lib/jquery.js" type="text/javascript"> </script>
  <script src="lib/jquery-ui.js" type="text/javascript"> </script>
  <script src="lib/newsfeed.js" type="text/javascript"> </script>
</head>

<body>

<!-- the sections on the newsfeed -->
  <div class = "newsfeed">
    <div class="welcomeSidebar">

      <div id = "columnforsidebar">
        <h3 id = "welcometext"> Welcome {{greeting}}! </h3>
        <!-- <form action="/create_group">
          <input id="create-group-btn" type="submit" value="Create Group">
        </form> -->
        <!-- <div id="create-group-btn"> Create Group </div> -->
        <div id="btn-container">
          <input id="create-group-btn" type="submit" value="Create Group">
        </div>
        <span>Groups You've Created</span>
        {% for group in photo_group_data %}
          <div class="groups">
            <div class="group_name"> {{group.group_name}} </div>
            <a id = "viewstuff" href="/newsfeed/view?group_id={{group.key.id()}}"> View group </a>
          </div>
        {% endfor %}
      </div>

      <div id="section">
        <h2 id ="newsfeedtitle">Check out your newsfeed!</h2>
          <div class = "feed">
            {% for group in photo_group_data %}
            <div class="newsfeed-groups">
              {% if group.photos[0] is defined %}
                <img class = "photogroup-pic" src ="{{group.photos[0].url}}" />
              {% else %}
                <p id = "noimages"> THERE ARE NO IMAGES IN THIS GROUP </p>
              {% endif %}
                <div class="info">
                  <p class="photogroup-name"> {{group.group_name}} </p>
                  <p class="photogroup-description"> {{group.description}}</p>
                  <p class="photogroup-creator"> Created by: {{group.created_by}}</p>
                  <p class="photogroup-link"> <a id = "viewstuff"
                    href="/newsfeed/view?group_id={{group.key.id()}}"> View Group </a> </p>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>

    </div>
  </div>
</body>


</html>
