<!doctype html>
<html>

<head>
  <link rel = "stylesheet" type = "text/css" href ="../stylesheets/newsfeed.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'
  type='text/css'>
</head>

<body>

<!-- the sections on the newsfeed -->
  <div class = "newsfeed">
    <div class="welcomeSidebar">

      <div id = "columnforsidebar">
        <h3 id = "welcometext"> Welcome {{greeting}}! </h3>
        <form action="/create_group">
          <input type="submit" value="Make a new group!">
        </form>
        <span>Groups You've Created</span>
        {% for group in photo_group_data %}
          <div class="groups">
            <div class="group_name"> {{group.group_name}} </div>
            <a href="/newsfeed/view?group_id={{group.key.id()}}"> View group </a>
          </div>
        {% endfor %}
      </div>

      <div id="section">
        <h2 id ="newsfeedtitle">Check out your newsfeed!</h2>
          <div class = "feed">

            <div class="newsfeed-groups">
              <img class = "testpic" src = "resources/images/cssigroup.jpg" />
              Standing on the River Thames, London has been a major settlement for
              two millennia, its history going back to its founding by the Romans,
              who named it Londinium.
            </div>
        </div>
      </div>

    </div>
  </div>
</body>


</html>
