<!doctype html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href =
  "../stylesheets/newsfeed.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'
   type='text/css'>
</head>


<body class="HolyGrail">
  <!-- The text for the heading "PhotoDump" and search form -->
    <header id="header">
      <h1>PhotoDump</h1>
        <nav id = "search">
          <form>
            Search PhotoDump
            <input id = "searchbox" type="text" name="searchBox">
          </form>
        </nav>
    </header>

<!-- the sections on the newsfeed -->
  <div class="newsfeed-body">
    <main class="content">things are life... everything in great stuff</main>
    <nav class="nav">
      <h1>Welcome</h1>
      <section>
        <ul>
          <li class="profile-pic">
            <a href="http://i.ytimg.com/vi/zgrrjh5_7IM/maxresdefault.jpg"></a>
          </li>
        </ul>
      </section>
    </nav>
    <aside class="aside">aside</aside>
  </div>
  </footer>footer stuff</footer>


</body>


</html>
