<!doctype html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href =
  "../stylesheets/newsfeed.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'
   type='text/css'>
</head>


<body class="HolyGrail">
  <!-- The text for the heading "PhotoDump" and search form -->
    <header id="header">
      <h1>PhotoDump</h1>
        <nav id = "search">
          <form>
            Search PhotoDump
            <input id = "searchbox" type="text" name="searchBox">
          </form>
        </nav>
    </header>

<!-- the sections on the newsfeed -->
  <div class="newsfeed-body">
    <main class="content">
      <section class="feed">
        <div class="test"> what is life?
          <br/>
          <img src="http://people.ucsc.edu/~ddiep1/puppy.jpg" width=500px>
        </div>
        <div>I don't know eleanor</div>
        <div>well that sucks</div>
      </section>
    </main>
    <nav class="nav"></nav>
    <aside class="aside"></aside>
  </div>
  </footer>footer stuff</footer>


</body>


</html>
