<!doctype html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href="../stylesheets/search.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'
    type='text/css'>

  </head>

  <body>

    <section>
      <h4>Search Results:</h4>
      <div class="container">
<!-- If you are searching by "group_name" -->
          {% for group in result %}
          <div class="search">
            <A class="result" href="/newsfeed/view?group_id={{group.key.id()}}">
              Group Name: {{ group.group_name }} </br>
              Created By: {{ group.created_by }} </br>
              <div class="first-photo">
                {% if group.photos[0] is defined %}
                  <img class = "photogroup-pic" src ="{{group.photos[0].url}}" />
                {% else %}
                  <p id = "noimages"> THERE ARE NO IMAGES IN THIS GROUP </p>
                {% endif %}
              </div>
               </A>
          </div>
          {% endfor %}
        </div>
  </section>

  </body>
</html>
