<!doctype html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href="../stylesheets/welcome.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'
    type='text/css'>
    <!-- // <script src="../lib/jquery.js"></script>
    // <script> -->
    <!-- // $(function(){
    //   $("#fixed").load("fixed.html");
    // });
    // </script> -->
  </head>

  <body>

    <!-- <div id="fixed"> -->

    </div>

    <div class="search_result">
        {% for group in group_data %}
          <A href="http://google.com"> {{ group.group_name }} </A>
        {% endfor %}
    </div>

  </body>
</html>
