<!DOCTYPE html>
<html>

  <head>
    <title> PhotoDump </title>
    <link rel = "stylesheet" type = "text/css" href="../stylesheets/welcome.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>


  <body>

    <div id="header">
      <h1>PhotoDump</h1>
      <img id = "pic1" src = "../images/camera_preview.png" height = "35px"/>
        <div id = "search">
        <form>
          Search PhotoDump
          <input id = "searchbox" type="text" name="searchBox">
        </form>
      </div>
    </div>

    You have successfully created a group!
    <a href="/groupfeed"> Go back to your group feed </a>
  </body>

</html>
