<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href="../stylesheets/welcome.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body>

    Select photos to upload!
    <form method="POST" action="{{ upload_url }}" enctype="multipart/form-data">
      <input type="hidden" name="group_id" value="{{group.key.id()}}">
      <input type="file" name="file" value="file" multiple>
      <input type="submit" name="submit" value="Submit">
    </form>

  </body>
</html>
