<!DOCTYPE html>
<html>

<head>
  <title> PhotoDump </title>
  <link rel = "stylesheet" type = "text/css" href =
  "../stylesheets/welcome.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'
   type='text/css'>
</head>


<body>

    <div id="header">
      <h1>PhotoDump</h1>
        <div id = "search">
        <form>
          Search PhotoDump
          <input id = "searchbox" type="text" name="searchBox">
        </form>
      </div>
    </div>

    <div id = "welcomestuff">
      <h2>
        Welcome to PhotoDump!
      </h2>
      <p>{{ greeting }}</p>
        Enter in your link or group!
      <input id = "searchbox2" type="text" name="searchBox">
    </div>

    <div class="footer">
      About PhotoDump
    </div>
</body>

</html>
